@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div>
    @Model.Message
</div>
<form method="post">
    <table class="table table-sm table-striped table-bordered m-2">
        <thead><tr><th>User Name</th><th>Password</th></tr></thead>
        <tbody>
            <tr>
                <td>
                    <div class="form-group">
                        <div class="col-md-10">
                            <input asp-for="UserName" />
                        </div>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <div class="col-md-10">
                            <input asp-for="Password" />
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="form-group">
        <button class="btn btn-outline-primary btn-sm">Log in</button>
    </div>
</form>
